<div class="modal-header">
    <h3 class="modal-title">Image Editing</h3>
</div>
<div class="modal-body">
    <div class="images">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 image" ng-repeat="image in images">
                <show-image product="product" image="image"></show-image>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 upload"
                ng-hide="progress"
                flow-init="{target: '/rest/image'}"
                flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
                flow-files-submitted="$flow.upload(); progress = true;"
                flow-file-success="success($message); progress = false;"
                >
                <img ng-src="{{ main.base_url + 'assets/addimage.png' }}" class="img-responsive img-rounded" flow-btn flow-attrs="{accept:'image/*'}" title="Lisää uusi kuva">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">Done</button>
</div>
