<h1>Products</h1>

<div ng-controller="ProductCtrl">

    <div class="form-group">
        <label for="search">Search word(s):</label>
        <input class="form-control" type="text" ng-model="search" ng-disabled="!products">
    </div>

    <pagination
        ng-model="currentPage"
        total-items="totalItems"
        items-per-page="itemsPerPage"
        max-size="20"
        direction-links="true"
        boundary-links="true"
        rotate="false">
    </pagination>

    <table class="table table-striped table-relative">
        <tr>
            <th><a ng-class="{active: predicate == 'id'}" ng-click="predicate = 'id'; reverse=false">ID</a></th>
            <th><a ng-class="{active: predicate == 'title'}" ng-click="predicate = 'title'; reverse=false">Title</a></th>
            <th><a ng-class="{active: predicate == 'updated'}" ng-click="predicate = 'updated'; reverse=true">Updated</a></th>
            <th><a ng-class="{active: predicate == 'hidden'}" ng-click="predicate = 'hidden'; reverse=true">Hidden</a></th>
            <th colspan="2">Actions</th>
        </tr>
        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-6"><input class="form-control" ng-model="newtitle" ng-disabled="!products"></td>
            <td class="col-md-1"></td>
            <td class="col-md-1"></td>
            <td class="col-md-1"><button class="btn btn-default" ng-click="create()" ng-disabled="!products"><i class="fa fa-star"></i> Add product</button></td>
            <td class="col-md-1">&nbsp;</td>
        </tr>
        <tr ng-repeat="product in products">
            <td>{{ product.id }}</td>
            <td>{{ product.title }}</td>
            <td>{{ product.updated | date:'dd.MM.yyyy' }}</td>
            <td><input type="checkbox" ng-model="product.hidden" ng-change="hidden(product)"></td>
            <td><button class="btn btn-primary btn-block" ng-click="edit(product, $index)"><i class="fa fa-edit"></i> Edit</button></td>
            <td><button class="btn btn-danger btn-block" ng-click="remove(product, $index)"><i class="fa fa-trash"></i> Remove</button></td>
        </tr>
    </table>
</div>