@import 'config';

body {
}

.navbar-brand {
    color: transparent;
    width: 12em;
    background-image: url("/assets/img/paahine.svg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center center;
    span {
        visibility: hidden;
    }
}