<div ng-controller="LoginCtrl" class="content">

    <div ng-show="auth">

        <h1>Olet jo sisäänkirjautunut</h1>

        <p>
            Ole hyvä ja kirjaudu ulos, kirjautuaksesi uudelleen sisään.
        </p>

    </div>

    <div ng-hide="auth" ng-keydown="keyPressed($event)" class="login">

        <h1>Kirjautuminen</h1>
        
        <div ng-if="error">
            <alert type="danger">{{ error }}</alert>
        </div>

        <div class="form-group">
            <div>
                <label>
                    Käyttäjätunnus:
                    <input class="form-control" ng-model="username">
                </label>
            </div>
            <div>
                <label>
                    Salasana:
                    <input class="form-control" class="form-control" type="password" ng-model="password">
                </label>
            </div>
        </div>
        <div>
            <button class="btn btn-default btn-primary" ng-click="login()">Kirjaudu</button>
        </div>
    </div>
</div>