<div ng-controller="SettingsCtrl">

    <h1>Settings</h1>

    <h2>Changing password:</h2>

    <p>
        You can change your password by typing the current password and new password to corresponding fields.
    </p>

    <div ng-if="error">
        <alert type="danger">{{ error }}</alert>
    </div>

    <div ng-if="message">
        <alert type="success">{{ message }}</alert>
    </div>

    <div class="form-horizontal" ng-keydown="keyPressed($event)">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="oldpassword">Current password:</label>
            <div class="col-sm-4">
                <input class="form-control" id="oldpassword" type="password" ng-model="oldpassword"></label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="newpassword1">New password:</label>
            <div class="col-sm-4">
                <input class="form-control" id="newpassword1" type="password" ng-model="newpassword1">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="newpassword2">New password (again):</label>
            <div class="col-sm-4">
                <input class="form-control" id="newpassword2" type="password" ng-model="newpassword2">
            </div>
        </div>
    </div>

    <button class="btn btn-default btn-primary" ng-click="save()">Save</button>

</div>