<h1>Tuoteryhmät</h1>

<div ng-controller="CategoryCtrl" class="content">

    <table class="table table-striped">
        <tr>
            <th><a ng-click="predicate = 'position'; reverse=false">Järjestys</a></th>
            <th><a ng-click="predicate = 'title'; reverse=false">Otsikko</a></th>
            <th>Toiminnot</th>
        </tr>
        <tr>
            <td class="col-md-1">
                &nbsp;
            </td>
            <td class="col-md-8">
                <input class="form-control" type="text" ng-model="newcategory" ng-disabled="disabled">
            </td>
            <td class="col-md-3">
                <button class="btn btn-default" ng-click="create()" ng-disabled="disabled"><i class="fa fa-star"></i> Luo uusi</button>
            </td>
        </tr>
        <tr ng-repeat="category in categories | orderBy:predicate:reverse">
            <td>
                <category-position category="category" count="count"></category-position>
            </td>
            <td>
                <category-title category="category"></category-title>
            </td>
            <td>
                <button class="btn btn-danger" ng-click="remove(category.id)"><i class="fa fa-trash"></i> Poista</button>
            </td>
        </tr>
        <tr>
            <th><a ng-click="predicate = 'position'; reverse=false">Järjestys</a></th>
            <th><a ng-click="predicate = 'title'; reverse=false">Otsikko</a></th>
            <th>Toiminnot</th>
        </tr>
    </table>

</div>