<h1>Categories</h1>

<div ng-controller="CategoryCtrl" class="content">

    <table>
        <tr>
            <th>Order #</th>
            <th>Title</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="editablefieldfull"><input type="text" ng-model="newcategory" ng-disabled="disabled"><div ng-if="error" class="error">!!!</div></td>
            <td class="action"><button ng-click="create()" ng-disabled="disabled"><i class="fa fa-star"></i> Create</button></td>
        </tr>
        <tr ng-repeat="category in categories | orderBy:'position':false">
            <td class="position"><category-position category="category" count="count"></category-position></td>
            <td class="editablefieldfull"><category-title category="category"></category-title></td>
            <td class="action"><category-remove category="category"></category-remove></td>
        </tr>
        <tr>
            <th>Order #</th>
            <th>Title</th>
            <th>Action</th>
        </tr>
    </table>

</div>