<div ng-controller="SiteuserCtrl">
    <div class="row">
        <div class="col-md-4">
            <h1>Käyttäjät</h1>

            <h2>Valitse käyttäjä tai toiminto:</h2>

            <p>
                <select class="form-control" ng-model="siteuser" ng-options="siteuser.id as siteuser.username for siteuser in siteusers | orderBy:'username'" size="12"></select>
            </p>

            <div class="btn-group">
                <button class="btn btn-default btn-primary" ng-click="openuser()">Avaa valittu</button>
                <button class="btn btn-default" ng-click="createuser()">Luo uusi</button>
            </div>

        </div>
        <div class="col-md-6" ng-show="edit">

            <h2>{{ mode }}:</h2>

            <input type="hidden" ng-model="edit.id">

            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="email">Sähköposti:</label>
                    <div class="col-sm-6">
                        <input class="form-control input-sm" id="email" type="text" ng-model="edit.email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="username">Käyttäjätunnus:</label>
                    <div class="col-sm-6">
                        <input class="form-control input-sm" id="username" type="text" ng-model="edit.username">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="password1">Salasana:</label>
                    <div class="col-sm-6">
                        <input class="form-control input-sm" id="password1" type="password" ng-model="edit.password1">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="password2">Salasana uudestaan:</label>
                    <div class="col-sm-6">
                        <input class="form-control input-sm" id="password2" type="password" ng-model="edit.password2">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="first_name">Etunimi:</label>
                    <div class="col-sm-6">
                        <input class="form-control input-sm" id="first_name" type="text" ng-model="edit.first_name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="last_name">Sukunimi:</label>
                    <div class="col-sm-6">
                        <input class="form-control input-sm" id="last_name" type="text" ng-model="edit.last_name">
                    </div>
                </div>
            </div>

            <div ng-show="edit.id">

                <h3>Käyttäjäoikeudet:</h3>

                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-2" ng-repeat="role in edit.roles | orderBy:'text'">
                            <label class="control-label">
                                <input type="checkbox" checklist-model="edit.siteuser_roles" checklist-value="role.id">
                                {{ role.text }}
                            </label>
                        </div>
                    </div>
                </div>
                
            </div>

            <p>
                <button class="btn btn-default btn-primary" ng-click="saveuser()">Tallenna tiedot</button>
                <button class="btn btn-default btn-danger" ng-click="removeuser()" ng-show="edit.id">Poista käyttäjä</button>
            </p>                

        </div>
    </div>
</div>