<h1>Tuotteet</h1>

<div ng-controller="ProductCtrl">

    <div class="form-group">
        <label for="search">Hakusana(t):</label>
        <input class="form-control" type="text" ng-model="search" ng-disabled="!products">
    </div>

    <pagination
        ng-model="currentPage"
        total-items="totalItems"
        items-per-page="itemsPerPage"
        max-size="20"
        direction-links="true"
        boundary-links="true"
        first-text="Alkuun"
        previous-text="Edellinen"
        next-text="Seuraava"
        last-text="Viimeinen"
        rotate="false">
    </pagination>

    <table class="table table-striped table-relative">
        <tr>
            <th><a ng-class="{active: predicate == 'id'}" ng-click="predicate = 'id'; reverse=false">ID</a></th>
            <th><a ng-class="{active: predicate == 'title'}" ng-click="predicate = 'title'; reverse=false">Otsikko</a></th>
            <th><a ng-class="{active: predicate == 'updated'}" ng-click="predicate = 'updated'; reverse=true">Päivitetty</a></th>
            <th><a ng-class="{active: predicate == 'hidden'}" ng-click="predicate = 'hidden'; reverse=true">Piilossa</a></th>
            <th>Toiminnot</th>
        </tr>
        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-6"><input class="form-control" ng-model="newtitle" ng-disabled="!products"></td>
            <td class="col-md-1"></td>
            <td class="col-md-1"></td>
            <td class="col-md-4"><button class="btn btn-default" ng-click="create()" ng-disabled="!products"><i class="fa fa-star"></i> Lisää tuote</button></td>
        </tr>
        <tr ng-repeat="product in products">
            <td>{{ product.id }}</td>
            <td>{{ product.title }}</td>
            <td>{{ product.updated | date:'dd.MM.yyyy' }}</td>
            <td>
                <input type="checkbox" ng-model="product.hidden" ng-change="hidden(product)">
            </td>
            <td>
                <product-editor product="product"></product-editor>
                <product-categories product="product"></product-categories>
                <product-images product="product"></product-images>
                <button class="btn btn-danger" ng-click="remove(product)"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    </table>
</div>