<div ng-controller="LoginCtrl">

    <div ng-show="auth">

        <h1>Already logged in</h1>

        <p>
            You have already been logged in. Please logout first to do re-login.
        </p>

    </div>

    <div ng-hide="auth" ng-keydown="keyPressed($event)">

        <h1>Login</h1>

        <div ng-if="error">
            <alert type="danger">{{ error }}</alert>
        </div>

        <div class="form-group">
            <div>
                <label>
                    Username:
                    <input class="form-control" ng-model="username">
                </label>
            </div>
            <div>
                <label>
                    Password:
                    <input class="form-control" class="form-control" type="password" ng-model="password">
                </label>
            </div>
        </div>
        <div>
            <button class="btn btn-default btn-primary" ng-click="login()">Login</button>
        </div>
    </div>
</div>