<div ng-controller="SettingsCtrl">

    <h1>Settings</h1>

    <h2>Password changing:</h2>

    <p>
        {{ message }}
    </p>

    <div class="form-horizontal" ng-keydown="keyPressed($event)">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="oldpassword">Current password:</label>
            <div class="col-sm-4">
                <input class="form-control" id="oldpassword" type="password" ng-model="oldpassword"></label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="newpassword1">New password:</label>
            <div class="col-sm-4">
                <input class="form-control" id="newpassword1" type="password" ng-model="newpassword1">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="newpassword2">(again):</label>
            <div class="col-sm-4">
                <input class="form-control" id="newpassword2" type="password" ng-model="newpassword2">
            </div>
        </div>
    </div>

    <button class="btn btn-default" ng-click="save()">Save</button>

</div>