@import "config";
@import "dialog";

a {
	cursor: pointer;
	&.active {
		text-decoration: underline;
	}
}

.grid-image {
    button {
        margin: 0.2em;
    }
    img {
        margin: 0.2em;
    }
}

.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}