<h1>Categories</h1>

<div ng-controller="CategoryCtrl" class="content">

    <table class="table table-striped">
        <tr>
            <th><a ng-class="{active: predicate == 'position'}" ng-click="predicate = 'position'; reverse=false">Position</a></th>
            <th><a ng-class="{active: predicate == 'title'}" ng-click="predicate = 'title'; reverse=false">Title</a></th>
            <th>Actions</th>
        </tr>
        <tr>
            <td class="col-md-1">&nbsp;</td>
            <td class="col-md-8"><input class="form-control" type="text" ng-model="newcategory" ng-disabled="!categories"></td>
            <td class="col-md-3"><button class="btn btn-default" ng-click="create()" ng-disabled="!categories"><i class="fa fa-star"></i> Create category</button></td>
        </tr>
        <tr ng-repeat="category in categories | orderBy:predicate:reverse">
            <td><category-position category="category" count="count"></category-position></td>
            <td><category-title category="category"></category-title></td>
            <td><button class="btn btn-danger" ng-click="remove(category)"><i class="fa fa-trash"></i> Remove</button></td>
        </tr>
    </table>

</div>